:root {
    --tela-toda: 100vh;
}

body {
    height: var(--tela-toda);
    font-family: 'Lilita One', sans-serif;
}
a{
    color: black;
}
.body {
    height: var(--tela-toda);
    display: flex;
    align-items: center;
    justify-content: center;
}
.botoes-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-modal{
    display: flex;
    justify-content: center;
}
.modal-style{
    border-radius: 50px!important;
}
.collapse {
    visibility: visible!important;
}
@media (max-width: 770px), (max-height: 510px) {
    .img-modal > img {
        width: 300px;
    }
    .map{
        height: 250px!important;
    }
}
.map{
    height: 450px;
}
.fs-10{
    font-size: 10px;
}
.btn-eu-vou{
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    width: 100%;
}
.accordion-collapse{
    transition: 2s!important;
}