:root {
    --tela-toda: 100vh;
}

body {
    height: var(--tela-toda);
    font-family: 'Lilita One', sans-serif;
}
.body {
    height: var(--tela-toda);
    display: flex;
    align-items: center;
    justify-content: center;
}
.botoes-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-modal{
    display: flex;
    justify-content: center;
}
.modal-style{
    border-radius: 50px!important;
}
@media (max-width: 770px), (max-height: 510px) {
    .img-modal > img {
        width: 100px;
    }
}

